.controlGroup {
	display: flex;

	& > * {
		flex: 1;
	}

	&__label {
		padding: 1rem 2rem;
	}

	&__input {
		font: inherit;
		padding: 1rem;
		background-color: rgb(101, 183, 238);
		border: 1px solid rgb(61, 167, 238);
	}

	&__checkbox {
	}

	&__radioBtn {
	}
}
